
input{
    border: 1px solid black;
  
    width: 100px;
  
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
}

#button{
    margin-top: 20px;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}